@import "../../index.css";
.services {
  margin-block: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.firstsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.firstline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.firstline .line {
  width: 30px;
  height: 4px;
  background-color: var(--accent-color);
}

.firstline p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32.87px;
  line-height: 30.32px;
  letter-spacing: 12%;
}

.line2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 64px;
  line-height: 59.05px;
  letter-spacing: 0%;
}

.line3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  line-height: 33.21px;
  letter-spacing: 0%;
  color: var(--secondary-color);
}

.cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
