@import '../../../index.css';

.card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  max-width: 380px;
  padding: 30px;
  transition: transform 0.3s ease-in-out;
  transform: translateZ(0);
  cursor: pointer;
  transition: all 0.7s ease;
}

.card:hover {
  transform: translateZ(10px);
  background-color: var(--primary-color);
}
.info {
  color: var(--heading-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: color 0.7s ease;
}

.card:hover .info {
  color: var(--primary-bg-color);
}

.info span {
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.52px;
  letter-spacing: 3%;
}

.info p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.45px;
  letter-spacing: 3%;
  color: var(--text-color);
  transition: color 0.7s ease;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card:hover .info p {
  color: var(--primary-bg-color);
}

.sectiontwo {
  position: relative;
}

.img {
  background-color: #ffffff;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 20px;
  overflow: hidden;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 110px),
    calc(100% - 110px) 100%,
    0 100%
  );
}
.serviceCardImage {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card:hover .btn {
  background-color: var(--accent-color);
}
.UpIcon {
  all: 0;
  transition: transform 0.3s ease-in-out;
}
.UpIcon:hover {
  cursor: pointer;
  transform: scale(1.1) translate(3px, -3px);
}

@media (max-width: 480px) {
  .card {
    gap: 30px;
    width: 85%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin-right: 3%;
  }
}

@media (max-width: 768px) and (min-width: 468px) {
  .card {
    gap: 10px;
    padding: 10px;
    max-width: 225px;
    width: auto;
    box-sizing: border-box;
  }

  .info {
    gap: 2px;
  }

  .info span {
    font-size: 14px;
  }
  .info p {
    font-size: 12px;
    line-height: 18.45px;
  }

  .card {
    gap: 30px;
    padding: 30px;
  }

  .img {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 90px),
      calc(100% - 90px) 100%,
      0 100%
    );
  }

  .btn {
    width: 40px;
    height: 40px;
  }
  .UpIcon:hover {
    cursor: pointer;
    transform: scale(1.05) translate(2px, -2px);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .card {
    max-width: 320px;
    box-sizing: border-box;
  }

  .info {
    gap: 5px;
  }

  .info span {
    font-size: 20px;
  }
  .info p {
    font-size: 14px;
    line-height: 18.45px;
  }

  .card {
    gap: 30px;
    padding: 30px;
  }

  .img {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 90px),
      calc(100% - 90px) 100%,
      0 100%
    );
  }

  .btn {
    width: 40px;
    height: 40px;
  }
  .UpIcon:hover {
    cursor: pointer;
    transform: scale(1.05) translate(2px, -2px);
  }
}
