@import "../../index.css";
/* Main Contact Bar Container */
.contactbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #f8f8f8;
  width: 100%;
  min-height: 50px;
  height: auto;
  padding-inline: 8%;
}

/* Contact Info Section */
.contactSection {
  display: flex;
  gap: 20px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* Icons Styling */
.icon {
  color: var(--primary-color);
}

/* Social Media Section */
.menubar {
  display: contents;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .contactbar {
    /* flex-direction: column; */
    text-align: center;
  }

  .contactSection {
    flex-direction: column;
    gap: 10px;
  }
}
