@import "../../index.css";
.hero {
  display: flex;
  align-items: center;
  padding-block: 150px;
  /* background-color: var(--primary-color); */
  background-image: url("homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 7%;
}

.sectionHero {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}
.rightsection {
  flex: 1;
}

.firstline {
  display: flex;
  align-items: center;
  gap: 5px;
}

.firstline .line {
  width: 30px;
  height: 4px;
  background-color: var(--accent-color);
}

.firstline p {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 40.61px;
  letter-spacing: 15%;
  color: #000000;
}

.exp {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: 9%;
  color: #000000;
}

.text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 9%;
  color: #e7a710;
}

.text1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: 9%;
  color: #000000;
}

.text2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: 9%;
  color: #000000;
}

.paragraph {
  max-width: 540px;
  margin-block: 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20.06px;
  letter-spacing: 15%;
  color: #000000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.customButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 192px; /* 12rem to px */
  border: 1px solid #c1c1c13e;
  border-radius: 999px;
}

.icon {
  background-color: var(--secondary-color);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 48px; /* 3rem to px */
  height: 48px;
  border-radius: 26px; /* 1.625rem to px */
}

.icon .iconarrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.customButton .iconarrow .arrow {
  position: absolute;
  width: 1rem;
  height: 0.125rem;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.customButton .arrow::before {
  position: absolute;
  content: "";
  right: -0.3rem;
  top: -0.4rem;
  width: 0.6rem;
  height: 0.6rem;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}

.customButton:hover .arrow::after {
  position: absolute;
  content: "";
  right: -0.3rem;
  top: -0.95rem;
  width: 1rem;
  height: 1rem;
  border-right: 4px solid #fff;
  transform: rotate(90deg);
}

.btntext {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0; /* 0.75rem to px */
  margin: 0 0 0 30px; /* 1.85rem to px */
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.customButton:hover .icon {
  width: 100%;
}

.customButton:hover .iconarrow {
  left: 20%;
}

.customButton:hover .iconarrow .arrow {
  background: #fff;
  transform: translate(0, -50%);
}

.customButton:hover .btntext {
  color: #fff;
}

@media (max-width: 480px) {
  .hero {
    padding-left: 0;
    width: 100%;
    justify-content: center;
    padding-block: 50px;
  }
  .firstline p {
    font-size: 16px;
  }

  .exp {
    font-size: 32px;
  }
  .text,
  .text1,
  .text2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 6%;
  }

  .paragraph {
    max-width: 440px;
    margin-block: 8px;
    font-size: 12px;
    line-height: 16.06px;
    letter-spacing: 12%;
  }

  .customButton {
    gap: 20px;
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }

  .icon {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .btntext {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16.75px;
    letter-spacing: 1%;
  }
}
