@import '../../index.css';
.hero {
  display: flex;
  align-items: center;
  padding-block: 150px;
  /* background-color: var(--primary-color); */
  background-image: url('homePageBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 7%;
}

.sectionHero {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}
.rightsection {
  flex: 1;
}

.firstline {
  display: flex;
  align-items: center;
  gap: 5px;
}

.firstline .line {
  width: 30px;
  height: 4px;
  background-color: var(--accent-color);
}

.firstline p {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 40.61px;
  letter-spacing: 15%;
  color: #000000;
}

.exp {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: 9%;
  color: #000000;
}

.text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 9%;
  color: var(--accent-color);
}

.text1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: 9%;
  color: #000000;
}

.text2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: 9%;
  color: #000000;
}

.paragraph {
  max-width: 540px;
  margin-block: 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20.06px;
  letter-spacing: 15%;
}

.customButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border: none;
  border-radius: 50px;
  position: relative;
  width: 200px;
  height: 48px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
}

.icon {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  position: absolute;
  left: 6px;
}

.btntext {
  background-color: var(--accent-color);
  padding: 14.5px 25px;
  margin-top: 1px;
  border-radius: 50px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 18.75px;
  letter-spacing: 1%;
  color: var(--text-color);
}

@media (max-width: 480px) {
  .hero {
    padding-left: 0;
    width: 100%;
    justify-content: center;
    padding-block: 50px;
  }
  .firstline p {
    font-size: 16px;
  }

  .exp {
    font-size: 32px;
  }
  .text,
  .text1,
  .text2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 6%;
  }

  .paragraph {
    max-width: 440px;
    margin-block: 8px;
    font-size: 12px;
    line-height: 16.06px;
    letter-spacing: 12%;
  }

  .customButton {
    gap: 20px;
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }

  .icon {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .btntext {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16.75px;
    letter-spacing: 1%;
  }
}
