@import '../../index.css';
.about {
  /* margin-block: 50px; */
  display: flex;
  flex-direction: column;
  background-color: #f3f2f2;
  gap: 40px;
  padding: 80px;
}

.img {
  width: 100%;
  height: 342px;
  background-color: #e7e7e7;
  clip-path: polygon(
    170px 0,
    /* top edge starting after the top-left cut */ 100% 0,
    /* top-right corner */ 100% calc(100% - 130px),
    /* right edge with bottom-right cut */ calc(100% - 170px) 100%,
    /* bottom edge with bottom-right cut */ 0 100%,
    /* bottom-left corner */ 0 130px /* left edge with top-left cut */
  );
  border-radius: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 95%;
}

.intro h2 {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 33.21px;
  letter-spacing: 1%;
  color: #1c1818;
}

.text {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.para {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text span {
  font-family: inherit;
  font-weight: 500;
  font-size: 32px;
  line-height: 29.52px;
  letter-spacing: 1%;
  background-color: var(--accent-color);
  padding: 10px 15px;
  border-radius: 999px;
}

.text p {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.4px;
  letter-spacing: 2%;
  color: #5e5a5a;
}

.text2 {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.4px;
  letter-spacing: 2%;
  color: #5e5a5a;
}

.designSol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.designSol h2 {
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  line-height: 29.52px;
  letter-spacing: 1%;
  color: #1c1818;
}

.sections {
  display: flex;
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.section:nth-child(2) {
  border-inline: 1px solid black;
}

.section .sectionPart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sectionPart span {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 28.14px;
  letter-spacing: 1%;
  background-color: var(--accent-color);
  padding: 10px 13px;
  border-radius: 999px;
}

.sectionPart p {
  font-family: inherit;
  font-weight: 500;
  font-size: 26px;
  line-height: 28.14px;
  letter-spacing: 1%;
}

.section p {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 24.8px;
  letter-spacing: 1%;
  color: #5e5a5a;
}

.choose {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choose h2 {
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  line-height: 29.52px;
  letter-spacing: 1%;
  color: #1c1818;
}

.chooselist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 60px;
}

.listElem {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 20.45px;
  letter-spacing: 1%;
}

.listElem strong {
  font-family: inherit;
  font-weight: 600;
  font-size: 22px;
  line-height: 20.45px;
  letter-spacing: 1%;
}
