@import "../../../index.css";
.formSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.firstline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.firstline .line {
  width: 30px;
  height: 4px;
  background-color: var(--secondary-color);
}

.firstline p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32.87px;
  line-height: 30.32px;
  letter-spacing: 12%;
}

.text {
  font-family: inherit;
  font-weight: 700;
  font-size: 52px;
  line-height: 59.05px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.text span {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 44.29px;
  letter-spacing: 0%;
  color: var(--secondary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 50px;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.inputs .inputbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.inputbox label {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 18.45px;
  letter-spacing: 0%;
  color: var(--text-color);
}

.inputbox input {
  padding: 16px 24px;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 18.75px;
  letter-spacing: 1%;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-bg-color);
  outline: none;
}

.inputbox input::placeholder {
  color: #948e8e;
}

.inputbox textarea {
  padding: 16px 24px;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 18.75px;
  letter-spacing: 1%;
  border-radius: 10px;
  height: 200px;
  border: none;
  background-color: var(--secondary-bg-color);
  outline: none;
}

.inputbox textarea::placeholder {
  color: #948e8e;
}

.button {
  position: relative;
  max-width: 170px;
  height: 48px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #ffffff;
}
.button.default:hover {
  background-color: #149dd8;
}

.button:disabled {
  cursor: not-allowed;
}

.button.loading {
  background: #159bd4;
}

.button.loading .loading {
  display: block;
}

.button.loading .submit {
  display: none;
}

.button.success {
  background: #ea4b95;
}

.button.success .check {
  display: block;
}

.button.success .submit {
  display: none;
}
.modelOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 49;
}
@media (max-width: 768px) {
  /* .inputs {
    flex-direction: column;
  } */
}

@media (max-width: 480px) {
  .firstline p {
    font-size: 24px;
  }
  .text {
    font-size: 32px;
    line-height: 0px;
    letter-spacing: 0%;
    margin-bottom: 15px;
  }
  .text span {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    color: var(--secondary-color);
  }
  .inputbox label {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0%;
  }
  .inputbox input {
    padding: 12px 24px;
    width: 100%;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
  }
  .form {
    padding: 0;
    gap: 20px;
  }
  .inputs {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .inputbox {
    width: 100%;
  }
  .inputbox textarea {
    padding: 12px 24px;
    font-size: 12px;
  }
  .customButton {
    gap: 20px;
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }

  .icon {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .btntext {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16.75px;
    letter-spacing: 1%;
  }
}
