.contact {
  display: flex;
  align-items: center;
  /* background-color: #fefefe; */
  padding: 80px;
  color: black;
}

.contactForm {
  flex: 3;
}

.card {
  flex: 2;
}

@media (max-width: 850px) {
  .contact {
    padding: 50px;
    flex-direction: column;
    gap: 20px;
  }
}
