@import '../../../index.css';
.contactcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 500px;
  background-color: #0885b9;
  color: #ffffff;
  padding: 50px;
  border-radius: 30px;
  clip-path: polygon(
    0 0,
    /* top left */ calc(100% - 150px) 0,
    /* move along the top edge leaving 110px from the right */ 100% 150px,
    /* go down the right edge by 110px */ 100% 100%,
    /* bottom right */ 0 100% /* bottom left */
  );
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.info span {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.12px;
  letter-spacing: 1%;
}

.info .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.info .contact p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 1%;
}

.socialMedia {
  display: flex;
  gap: 10px;
}
.socialIcon {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .info {
    gap: 5px;
  }
  .info span {
    font-size: 20px;
  }
  .info .contact p {
    font-size: 12px;
  }
}
