.footer {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: var(--primary-color);
}
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.leftFooterContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.footerText {
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 300px;
  line-height: 18px;
}
.socialMedia {
  display: flex;
  gap: 10px;
}
.socialIcon {
  background-color: #cecece83;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.rightFooterContent {
  flex: 2;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-around;
}
.footerNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}
.footerContact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.copyRightsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.bottomLine {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.514);
}
.copyRightsText {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}
.copyRightsText p span {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: start;
  }
  .footer {
    padding: 40px;
  }
  .footerEmailInput {
    display: none;
  }
  .rightFooterContent {
    flex: 1;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
  }
  .rightFooterContent h3 {
    font-size: 16px;
  }
  .rightFooterContent p {
    font-size: 14px;
  }
  .copyRightsContent p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .footerContainer {
    flex-direction: column;
    align-items: start;
  }
  .socialMedia {
    gap: 20px;
  }
  .rightFooterContent {
    margin-top: 20px;

    gap: 20px;
  }
  .rightFooterContent h3 {
    font-size: 16px;
  }
  .rightFooterContent p {
    font-size: 14px;
  }
  .copyRightsContent p {
    font-size: 12px;
  }
}
