/* Sidebar container */
.sidebar {
  position: absolute;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #0885b9;
  color: white;
  /* padding: 20px; */
  transition: right 0.5s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* When sidebar is open */
.sidebar.open {
  right: 0;
}

.upperpart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar .upperpart h4 {
  padding-left: 10px;
  font-size: 24px;
}

/* Close button */
.closeButton {
  align-self: self-start;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

/* Sidebar links */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  padding: 20px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Menu button */
.menuButton {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.copyRightsText {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.copyRightsText p {
  text-align: center;
  font-size: 12px;
}
.copyRightsText p span {
  color: var(--accent-color);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
